<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% block css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  {% endblock %}

  {% block header %}
  {% endblock %}

  {% block title %}
  <title>Mail Merger</title>
  {% endblock %}

  {% block head_script %}
  {% endblock %}

  <style>
    nav {
        border-bottom: 1px solid black;
    }

    .navs ol {
        list-style-type: none;
        padding-left: 0;
    }

    .nav {
        display: inline-block;
    }

    .nav a::after {
        display: inline-block;
        color: #000;
        content: '|';
        font-size: 80%;
        font-weight: bold;
        padding: 0 3px;
    }
  </style>
  {%block style%}
  {%endblock%}
</head>
<body>
{% include "partials/site_head.html" %}
{% block content %}
{% endblock %}

</body>