{% extends "../../base.html" %}

{%block content%}

<main>
    <h1>Edit Campaign</h1>
    <p><b>ID:</b> <i>{{ campaign.ID }}</i></p>
    <form action="/campaigns/{{ campaign.ID }}/update" method="post" enctype="multipart/form-data">
        {{ csrfField | safe }}

        <input type="hidden" name="id" value="{{ campaign.ID }}">

        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="{{campaign.Name}}">

        <label for="subject">Subject Template</label>
        <textarea name="subject" id="subject" cols="50" rows="1">{{campaign.Template.Subject}}</textarea>

        <label for="body">Body Template</label>
        <textarea name="body" id="body" cols="80" rows="10">{{campaign.Template.Body}}</textarea>

        <label for="csv">CSV</label>
        <input type="file" name="csv" id="csv" accept=".csv">

        <input type="submit" value="Save">
    </form>
</main>


{%endblock%}