{% extends "../../base.html" %}

{%block content%}

<main>
    <h1>Campaigns</h1>
    <a href="{{ reverse("campaigns-new") }}">
        <button>New</button>
    </a>
    <table>
        <thead>
            <th>Campaign</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for campaign in campaigns %}
            <tr>
                <td> 
                    <a href="{{ reverse("campaigns-show", campaign.ID) }}">
                    {{ campaign.Name }}
                    </a>
                </td>
                <td style="display: flex;">
                        <form action="{{ reverse("campaigns-edit", campaign.ID) }}" method="get">
                            {{ csrfField | safe }}
                            <input type="submit" value="Edit">
                        </form>
                    <form action="{{ reverse("campaigns-delete", campaign.ID) }}" method="post">
                        {{ csrfField | safe }}
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{%endblock%}