{% extends "../../base.html" %}

{%block content%}

<main>
    <h1>Campaign</h1>
    <p>ID: {{ campaign.ID }}</p>
    <p>Name: {{ campaign.Name }}</p>

    <label for="subject">Subject</label>
    <div  style="border: 2px solid gray; border-radius: 4px; margin-top: 8px; margin-bottom: 8px; padding-left: 8px">
        <pre id="subject">{{ campaign.Template.Subject }}</pre>
    </div>

    <label for="body">Body</label>
    <div  style="border: 2px solid gray; border-radius: 4px; margin-top: 8px; margin-bottom: 8px; padding-left: 8px">
        <pre id="body">{{ campaign.Template.Body }}</pre>
    </div>

    <p>File: <i>{{ campaign.CSV.FileName }}</i></p>

    <a href="{{ reverse("campaigns-edit", campaign.ID) }}">
        <button>
            Edit
        </button>
    </a>

    <h2>Events</h2>
    <form action="{{ reverse("events-create") }}" method="post">
        {{ csrfField | safe }}
        
        <input type="hidden" name="campaign_id" value="{{ campaign.ID }}">
        <input type="submit" value="Sent Blast Emails">
    </form>
    {% if campaign.IsNoEvent() %}
        <p><i>No event</i></p>
    {% else %}
    <div style="max-height: 200px; overflow: scroll;">
        <table>
            <thead>
                <th>Status</th>
                <th>Detail</th>
                <th>Date</th>
            </thead>
            <tbody style="flex-direction: row-reverse">
            {% for event in campaign.Events %}
                <tr>
                    <td>{{event.Status}}</td>
                    <td>
                        {% if event.Detail == "" %}
                        -
                        {% else %}
                        {{event.Detail}}
                        {% endif %}
                    </td>
                    <td>{{event.CreatedAt | date:"2006-02-01 15:04"}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</main>

{%endblock%}